
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 28px;
}
ul {
    display: flex;gap: 50px;
    
}
a{
    list-style: none;
    text-decoration: none;
    color: Black;
}