.signup{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
form{
    width: 600px;
    border: 2px solid black;
    padding: 40px 60px;
    border-radius: 15px;
    background-color: rgb(108, 178, 181);
}
form h2{
    text-align: center;
    margin-bottom: 20px;

}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 28px;
}
ul {
    display: flex;gap: 50px;
    
}
a{
    list-style: none;
    text-decoration: none;
    color: Black;
}